; -*- mode: clojure; -*-
; vim: filetype=clojure

(let [index (index)]
  (streams
    (where (tagged "Sarah")
      ; Check number of available workers
      (where (and
        (service #"worker .+")
        (state "ready"))

        (with :metric 1
          (by :host
            (coalesce 10
              (smap folds/sum
                (with {:service "num workers" :state "ok" :description nil}
                    index
                    influxBatchSender
                    prn
                  ))))))

      ;(where (and (service "num workers") (changed :metric {:init 0}))
      ;  prn
      ;  (elasticsearch {:es-endpoint "http://127.0.0.1:9200/"}))

      ; Alerts:
      ; Not available workers
      (expired
        (where
          (service "num workers")
            (fn [event] (info "Houston we have a problem. Not workers left" event)))
        (where
          (tagged "notify")
            (fn [event] (info "tagged expired" event))))
    )
  )
)
